In [1]:
import pandas as pd

In [19]:
data = pd.read_csv("household_power_consumption.txt")

In [20]:
data.head()

  Date;Time;Global_active_power;Global_reactive_power;Voltage;Global_intensity;Sub_metering_1;Sub_metering_2;Sub_metering_3
0  16/12/2006;17:24:00;4.216;0.418;234.840;18.400...
1  16/12/2006;17:25:00;5.360;0.436;233.630;23.000...
2  16/12/2006;17:26:00;5.374;0.498;233.290;23.000...
3  16/12/2006;17:27:00;5.388;0.502;233.740;23.000...
4  16/12/2006;17:28:00;3.666;0.528;235.680;15.800...

### how to load it correctly

We need to do few costum things to seperate it correctly
1- Specify the separate between the columns as semincolumn (;)
2- Specify that line 0 has the names for the columns (header=0)
3- Specify that we have lots of RAM , we are loading the data as the array of object instead of array of numbers because data set has nan values also at some intity place.

In [15]:
dataset = pd.read_csv("household_power_consumption.txt", sep=';',header=0, low_memory=False, infer_datetime_format=True, parse_dates={'datetime':[0,1]}, index_col=['datetime'])

In [18]:
print(dataset.shape)
dataset.head()

(2075259, 7)

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
datetime,,,,,,,
2006-12-16 17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
2006-12-16 17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2006-12-16 17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
2006-12-16 17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
2006-12-16 17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

# Now store it as csv file

In [22]:
dataset.to_csv("household_power_consumption.csv")